<%- include('partials/header') %>

  <div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Secrets</h1>
      <p class="lead">Don't keep your secrets, share them anonymously!</p>
      <hr>
      <div class="buttonBox d-flex flex-wrap align-items-center justify-content-center mx-auto p-4">
        <a class="btn btn-light btn-lg register" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg login" href="/login" role="button">Login</a>
      </div>
    </div>
  </div>

<%- include('partials/footer') %>